{% extends 'base.html'%}

{% block content %}
<h1> Personal website/blog for Johnny Park</h1>
<p> For now, this website focuses on backend, so not much sophisticated graphics would be implemented.</p>


<!-- Testing Built-in django templates tags and filters -->

<h3>{{Title|capfirst|upper}}</h3>
<p>{{text_1}}, {{number_1}}, {{list_1}}</p>

<ul>
{% for my_sub_item in list_1 %}
    {% if my_sub_item == 42069 %}
        <li>{{forloop.counter}} - Hit it! </li>
    {% elif my_sub_item == 420 %}
        <li>{{forloop.counter}} - Hit it!</li>
    {% else %}
        <li>{{forloop.counter}} - {{my_sub_item}}</li>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}
