body{
    background-color:white;
    margin: 0;
}
.logo a{
    text-decoration:none;
    color: white;
    font-family: Audiowide;
}
a{
    text-decoration:none;
    color: white; 
    font-family: Notosans;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;
    padding: 8px 12px;
}

.menu{
    display:flex;
    list-style:none;
    padding-left:0;
}
.menu li{
    padding:8px 12px;
}

.container{
    text-align: center;
    margin-top: 70px;
    background-color: white;
}
.card-box{
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    width: 100%;
    max-width: 280px;
    height: 360px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.4);
    transition: 0.5s;
}
.card-box:hover{
    transform:scale(0.95);

}
.img-gradient{
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 1;
}
.text-wrap{
    position: absolute;
    bottom: 0;
    padding: 24px;
    color: white;
    z-index:2;
    font-size:24px;
    margin-bottom:8px;
    font-weight: bold;
    line-height: 0;

}
.text-in{
    font-size: 20px;
    text-align: center;
}

.bg-container{
    position:relative;
    width:100%;
    margin: 0;
    overflow: hidden;
    border-radius: 0;
}
#image{
    width:100%;
    position: absolute;
    bottom:0;
    z-index:2;
}
#text{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 120px;
    font-weight:bold;
    text-align:center;
    margin: auto;
    opacity: 0.9;
    color: white;
    margin-top: 100px;
    position: absolute;
    left:0;
    right:0;
    z-index:1;
}
#bg{
    position: relative;
    z-index: 0;
    width:100%;
}
.roka{
    background-color:whitesmoke;
    align-items:center;
}
.roka img{
    width:100%;

}
.roka p{
    font-size: 50px;
    text-align:center;
    margin-top:50px;
}
.roka-container{
    position:relative;
    width:94%;
    margin: 5vw;
    border-radius: 0;
    overflow: hidden;
    
}
#image_roka{
    position:relative;
    width:94%;
}
#text_roka{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 50px;
    text-align:center;
    margin: auto;
    opacity: 0.9;
    color: black;
    margin-top: 0px;
    left:0;
    right:0;
}
.roka-info{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 25px;
    text-align:center;
}
.ksna-container{
    font-family: 'Kumbh Sans', sans-serif;
    color:rgb(44, 43, 43);
    text-align: center;
    margin-top: 40px;
    background-color:rgb(231, 229, 229);
}
.ksna-box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    width: 100%;
    max-width: 450px;
    height: 610px;
    transition: 0.5s;
}
.ksna-box:hover{
    transform:scale(0.95);

}
.mechan-container{
    font-family: 'Kumbh Sans', sans-serif;
    color:rgb(44, 43, 43);
    text-align: center;
    margin-top: 40px;
    background-color:rgb(231, 229, 229);
}
.mechan-box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    width: 100%;
    max-width: 500px;
    height: 350px;
    transition: 0.5s;
}
.mechan-box:hover{
    transform:scale(0.95);

}
.swat-container{
    font-family: 'Kumbh Sans', sans-serif;
    color:rgb(44, 43, 43);
    text-align: center;
    margin-top: 40px;
    background-color:rgb(231, 229, 229);
}
.swat-box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    width: 100%;
    max-width: 450px;
    height: 610px;
    transition: 0.5s;
}
.swat-box:hover{
    transform:scale(0.95);

}
.bt-ground{
    margin-top:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;
    padding: 8px 12px;
}


.abouttop a{
    text-decoration:none;
    color: white;
    font-family: Notosans;
    font-size: 50px;

    position: absolute;
}
.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;
    padding: 250px;
}


.text-in{
    text-align: center;
    margin-top: 70px;
    background-color: white;
}
.box{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    width: 100%;
    max-width: 595px;
    height: 416px;
    transition: 0.5s;
}
.atext{
    position: absolute;
    bottom: 0;
    padding: 40px;
    color: black;
    font-size:24px;
    margin-bottom:8px;
    font-weight: bold;
    line-height: 5px;
    text-align: left;
}
.atext h1{
    padding: 180px;
    padding-left:0;

}

.resume{
    text-align:center;
}

.gallary{
    position: relative;
    text-align: center;
}