<!DOCTYPE html>
{% block content %}
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="{% static 'bensonweb/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body >
    <nav class="navbar">
        <ul class="logo">
            <a href="Benson.html">BENSON</a>
        </ul>
        <ul class="menu">
            <li><a href="Benson.html">HOME</a></li>
            <li><a href="gallery.html">GALLERY</a></li>
            <li><a href="resume.html">RESUME</a></li>
            <li><a href="one.html">CONTACT</a></li>
            <li><a href="">FAQ</a></li>
            
        </ul>
    </nav>


    <div class="bg-container">
        <img id="image" src="{% static 'bensonweb/image/image_13.png' %}">
        <h1 id="text">DONGHYEONG CHO</h1>
        <img id="bg" src="{% static 'bensonweb/image/image_13.png' %}">
    </div>

    <script type="text/javascript">
     let bg = document.getElementById('bg');
     let text = document.getElementById('text');
     let image = document.getElementById('image');

      window.addEventListener('scroll', function(){
         var value = window.scrollY;
         bg.style.top = value * 0.25 +'px';
         text.style.top = value * 0.15 + 'px';
      })
    </script>


    <div class="container">
        <div class="card-box">
            <a href="one.html">
                <div class="img-gradient"></div>
                <img src="{% static 'bensonweb/image/image_2.jpeg' %}" alt="" srcset="">
                <div class="text-wrap">
                    <h1>About</h1>
                </div>
            </a>
            
        </div>
        
        <div class="card-box">
            <a href="Work.html" >
                <div class="img-gradient"></div>
                <img src="{% static 'bensonweb/image/image_3.jpeg' %}" alt="" srcset="">
                <div class="text-wrap">
                    <h1>Work</h1>
                </div>
            </a>
        </div>
    
        <div class="card-box">
            <a href="project.html">
                <div class="img-gradient"></div>
                <img src="{% static 'bensonweb/image/image_7.jpeg' %}" alt="" srcset="">
                <div class="text-wrap">
                    <h1>Project</h1>
                </div>
            </a>
        </div>

        <div class="card-box">
            <a href="gallery.html" target="_blank">
                <div class="img-gradient"></div>
                <img src="image/gallary.jpeg" alt="" srcset="">
                <div class="text-wrap">
                    <h1>Gallery</h1>
                </div>
            </a>
        </div>

        <div class="card-box">
            <a href="resume.html" target="_blank">
                <div class="img-gradient"></div>
                <img src="{% static 'bensonweb/image/resume_2.jpeg' %}" alt="" srcset="">
                <div class="text-wrap">
                    <h1>Resume</h1>
                </div>
            </a>
        </div>
    </div>   

    <nav class="bt-ground">
        <ul class="info-1">
            <a href="">BENSON</a>
        </ul>
        <ul class="info-2">
            <li><a href="">Ottawa, ON, CANADA</a></li>
            <li><a href="">Design by Donghyeong Cho</a></li>
            
        </ul>
    </nav>
    
    
   

    
     
</body>



</html>
{% endblock %}
