<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="logo">
            <a href="Benson.html">BENSON</a>
        </ul>
        <ul class="menu">
            <li><a href="Benson.html">HOME</a></li>
            <li><a href="">GALLERY</a></li>
            <li><a href="resume.html">RESUME</a></li>
            <li><a href="one.html">CONTACT</a></li>
            <li><a href="">FAQ</a></li>
            
        </ul>
    </nav>
    <nav class="abouttop">
        <ul class="about">
            <a>GALLERY</a>
        </ul>
    </nav>

    <div class="gallary">
        <img src="image/jet_1.PNG" alt="" srcset="">
        <img src="image/ksna_1.png" alt="" srcset="">
        <img src="image/ksna_2.PNG" alt="" srcset="">
        <img src="image/ksna_3.pdf" alt="" srcset="">
        <img src="image/ksna_3.png" alt="" srcset="">
        <img src="image/ksna_4.png" alt="" srcset="">
        <img src="image/plug_1.PNG" alt="" srcset="">
        <img src="image/plug_2.PNG" alt="" srcset="">
        <img src="image/swat_1.JPG" alt="" srcset="">
        <img src="image/swat_2.jpg" alt="" srcset="">
        <img src="image/swat_3.png" alt="" srcset="">
        <img src="image/swat_4.jpg" alt="" srcset="">
        <img src="image/image_11.jpeg" alt="" srcset="">
        <img src="image/image_12.jpeg" alt="" srcset="">
        <img src="image/image_13.png" alt="" srcset="">
        <img src="image/image_roka_2.png" alt="" srcset="">
        <img src="image/image_14.png" alt="" srcset="">
        <img src="image/image_2.jpeg" alt="" srcset="">
        <img src="image/image_3.jpeg" alt="" srcset="">
        <img src="image/image_5.png" alt="" srcset="">
        <img src="image/image_7.jpeg" alt="" srcset="">
        
        <img src="image/image_roka_1.png" alt="" srcset="">
        
        <img src="image/image_9.jpeg" alt="" srcset="">
        <img src="image/book_1.png" alt="" srcset="">
        <img src="image/book_2.png" alt="" srcset="">
        <img src="image/book_3.png" alt="" srcset="">
        <img src="image/book_4.png" alt="" srcset="">
        <img src="image/car_1.png" alt="" srcset="">
        <img src="image/car_2.png" alt="" srcset="">
        <img src="image/car_3.png" alt="" srcset="">
        <img src="image/car_4.png" alt="" srcset="">



    </div>


    <nav class="bt-ground">
        <ul class="info-1">
            <a href="">BENSON</a>
        </ul>
        <ul class="info-2">
            <li><a href="">Ottawa, ON, CANADA</a></li>
            <li><a href="">Design by Donghyeong Cho</a></li>
            
        </ul>
    </nav>

</body>
</html>