<!DOCTYPE html>
{% block content %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Johnny Park</title>

        <link rel="icon" type="image/x-icon" href="{% static 'startbootstrap-grayscale-gh-pages/assets/img/favicon.ico' %}" />
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="../../static/startbootstrap-grayscale-gh-pages/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Welcome!</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Johnny Park</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">3rd Year CS&Stats Major at Carleton University</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Background</h2>
                        <p class="text-white-50">
                            BSC IN COMPUTER SCIENCE AND MATHEMATICS COMBINED HONOURS WITH CO-OP (THIRD-YEAR)
                            <br><br>Teaching Assistant for Intro. to Systems Programming
                            <br><br>Research Assistant in the Field of Algebraic Geometry
                            <br><br>Finished and Currently Working on Various Projects
                        </p>
                        <input class="btn btn-primary js-scroll-trigger" type="button" value="Résumé" onclick="window.location.href='{% static 'main/resume.pdf' %}'" />
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'startbootstrap-grayscale-gh-pages/assets/img/about.png' %}" alt="" />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'main/scrabble.png' %}" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Scrabble Game (May 2020 - Current)</h4>
                            <p class="text-black-50 mb-0">Used tkinter, a python GUI library to develop a scrabble game. The objective is to develop a AI that can calculate the winning probability of the game.<br><br><a href = 'https://github.com/Johnnypark99/Scrabble'>Github</a></p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'main/rps.png' %}" alt="" height="500px" width="700px"/></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">RPS Project (Sep 2019 - Apr 2020)</h4>
                                    <p class="mb-0 text-white-50">A project worked in Carleton AI Society. Used Scikit-learn, a python machine learning library to develop an AI that analyze the human player's hands and construct an algorithm that would generate a high winrate against the human player. <br><br><a href = 'https://github.com/Johnnypark99/Rock-Paper-Scissors-Project'>Github</a></p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'main/hydr8.jpeg' %}" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Hydr8 Project (Feb 2020, in uOttaHack3)</h4>
                                    <p class="mb-0 text-white-50">Used arduino to make a bottle that measures the liquid consumption on the straw. Received an award for best collaboration.
                                     <br><br><a href = 'https://github.com/Johnnypark99/UOTTAHACK2020'>Github</a>&nbsp;&nbsp;&nbsp;<a href = 'https://devpost.com/software/hydr8-8m9hn1'>Devpost</a>
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Three Row-->
                 <div class="row justify-content-center no-gutters">
                   <div class="col-lg-6"><img class="img-fluid" src="{% static 'main/five_in_a_row.png' %}" alt="" height="500px" width="700px"/></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Five-in-a-Row App (Jan 2020, in CUHacking Hackathon)</h4>
                                    <p class="mb-0 text-white-50">Used android studio to develop an android app that plays five in a row game through voice control.<br><br><a href = 'https://github.com/Johnnypark99/FiveInARow_CUHacking2020'>Github</a>
                                    &nbsp;&nbsp;&nbsp;<a href = 'https://devpost.com/software/voice-controlled-five-in-a-row-app'>Devpost</a>
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0"><a href="mailto:johnnypark@cmail.carleton.ca">Email</a></h4>
                                <hr class="my-4" />
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.linkedin.com/in/johnnypark123"><i class="fab fa-linkedin"></i></a>
                    <a class="mx-2" href="https://discord.gg/FA8QPQ4HYb"><i class="fab fa-discord"></i></a>
                    <a class="mx-2" href="https://github.com/johnnypark99"><i class="fab fa-github"></i></a>
                    <br>
                </div>
                <p><br></p>
                <div class="col d-flex justify-content-center">
                    <input class="btn btn-primary js-scroll-trigger" type="button" value="1999" onclick="window.location.href='http://johnnypark.ca/1999'" />
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Johnny Park 2021</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../static/startbootstrap-grayscale-gh-pages/js/scripts.js"></script>
    </body>
</html>
{% endblock %}
