<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="logo">
            <a href="Benson.html">BENSON</a>
        </ul>
        <ul class="menu">
            <li><a href="Benson.html">HOME</a></li>
            <li><a href="">GALLERY</a></li>
            <li><a href="resume.html">RESUME</a></li>
            <li><a href="one.html">CONTACT</a></li>
            <li><a href="">FAQ</a></li>
            
        </ul>
    </nav>
    <nav class="abouttop">
        <ul class="about">
            <a>About</a>
        </ul>
        
    </nav>

    <div class="text-in">
        

        <div class="box">
            <a>
                <img src="image/box.png" alt="" srcset="">
                <div class="atext">

                    <h1>Information</h1>

                    <p>Donghyeong Cho</p>
                    <p>From South Korea</p>
                    
                    
                </div>
            </a>
        </div>
        <div class="box">
            <a>
                <img src="image/box.png" alt="" srcset="">
                <div class="atext">

                    <h1>Education</h1>
                    <p>Carleton University</p>
                    <p>1125 Colonel By Dr,</p>
                    <p>Ottawa, ON, Canada</p>
                </div>
            </a>
        </div>
        <div class="box">
            <a>
                <img src="image/box.png" alt="" srcset="">
                <div class="atext">

                    <h1>Email</h1>
                    <p>GMAIL: wnwkr001@gmail.com</p>
                    <p>HOTMAIL: gud_2011@live.com</p>
                    <p>CARLETON: bensoncho@cmail.carleton.ca</p>
                </div>
            </a>
        </div>
        <div class="box">
            <a>
                <img src="image/box.png" alt="" srcset="">
                <div class="atext">

                    <h1>Phone</h1>
                    <p>613-981-9657</p>
                    <p>Available: Mon - Sun</p>
                </div>
            </a>
        </div>


    </div>

    <nav class="bt-ground">
        <ul class="info-1">
            <a href="">BENSON</a>
        </ul>
        <ul class="info-2">
            <li><a href="">Ottawa, ON, CANADA</a></li>
            <li><a href="">Design by Donghyeong Cho</a></li>
            
        </ul>
    </nav>

</body>
</html>