{% extends 'base.html'%}

{% block content %}
<h1> List of Projects</h1>
<h2> Ongoing Projects</h2>
<h3> Scrabble Game (May 2020 - Current)</h3>
<p>Used tkinter, a python GUI library to develop a scrabble game. The objective is to develop a AI that can calculate the winning probability of the game.</p>
<li><a href = 'https://github.com/Johnnypark99/Scrabble'>Github link</a></li>
<br>

<h2> Finished Projects</h2>
<h3>RPS Project (Sep 2019 - Apr 2020)</h3>
<p>Used Scikit-learn, a python machine learning library to develop an AI that analyze the human player's hands and construct an algorithm that would generate a high winrate against the human player.</p>
<li><a href = 'https://github.com/Johnnypark99/Rock-Paper-Scissors-Project'>Github link</a></li>
<br>

<h3>Five-in-a-Row App (Jan 2020, in CUHacking Hackathon)</h3>
<p>Used android studio to develop an android app that plays five in a row game through voice control.</p>
<li><a href = 'https://github.com/Johnnypark99/FiveInARow_CUHacking2020'>Github link</a></li>
<li><a href = 'https://devpost.com/software/voice-controlled-five-in-a-row-app'>Devpost link</a></li>

<h3>Hydr8 Project (Feb 2020, in uOttaHack 3 Hackathon)</h3>
<p>Used arduino to make a bottle that measures the liquid consumption on the straw. Recieved an award for best collaboration.</p>
<li><a href = 'https://github.com/Johnnypark99/UOTTAHACK2020'>Github link</a></li>
<li><a href = 'https://devpost.com/software/hydr8-8m9hn1'>Devpost link</a></li>

{% endblock %}
