<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar">
        <ul class="logo">
            <a href="Benson.html">BENSON</a>
        </ul>
        <ul class="menu">
            <li><a href="Benson.html">HOME</a></li>
            <li><a href="">GALLERY</a></li>
            <li><a href="resume.html">RESUME</a></li>
            <li><a href="one.html">CONTACT</a></li>
            <li><a href="">FAQ</a></li>
            
        </ul>
    </nav>

    <nav class="abouttop">
        <ul class="about">
            <a>PROJECT</a>
        </ul>
        
    </nav>

    
    <div class="ksna-container">
        <h1>Swash Plate Mechanism</h1>
        <div class="ksna-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/swat_1.jpg" alt="" srcset="">
                
            </a>
        </div>
        
        <div class="ksna-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/swat_2.jpg" alt="" srcset="">
                
            </a>
        </div>

        <div class="ksna-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/swat_3.png" alt="" srcset="">
                
            </a>
        </div>

        <div class="ksna-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/swat_4.jpg" alt="" srcset="">
                
            </a>
        </div>
    </div>

    
    <div class="mechan-container">
        <h1>Mechanical Projects</h1>
        <div class="mechan-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/plug_1.png" alt="" srcset="">
                
            </a>
        </div>
        
        <div class="mechan-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/plug_2.PNG" alt="" srcset="">
                
            </a>
        </div>

        <div class="mechan-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/jet_1.png" alt="" srcset="">
                
            </a>
        </div>

    </div>

    
    <div class="swat-container">
        <h1>KSNA Logo & Poster Design</h1>
        <div class="swat-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/ksna_1.png" alt="" srcset="">
                
            </a>
        </div>
        
        <div class="swat-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/ksna_2.PNG" alt="" srcset="">
                
            </a>
        </div>

        <div class="swat-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/ksna_3.png" alt="" srcset="">
                
            </a>
        </div>

        <div class="swat-box">
            <a href="https://naver.com" target="_blank">
                
                <img src="image/ksna_4.png" alt="" srcset="">
                
            </a>
        </div>
    </div>
    <nav class="bt-ground">
        <ul class="info-1">
            <a href="">BENSON</a>
        </ul>
        <ul class="info-2">
            <li><a href="">Ottawa, ON, CANADA</a></li>
            <li><a href="">Design by Donghyeong Cho</a></li>
            
        </ul>
    </nav>
</body>
</html>