<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="logo">
            <a href="Benson.html">BENSON</a>
        </ul>
        <ul class="menu">
            <li><a href="Benson.html">HOME</a></li>
            <li><a href="">GALLERY</a></li>
            <li><a href="resume.html">RESUME</a></li>
            <li><a href="one.html">CONTACT</a></li>
            <li><a href="">FAQ</a></li>
            
        </ul>
    </nav>
    <nav class="abouttop">
        <ul class="about">
            <a>RESUME</a>
        </ul>
        
    </nav>
    <div class="resume"> 

        <img src="image/r1.png" alt="" srcset="">
        <img src="image/r2.png" alt="" srcset="">

    </div>
    


    <nav class="bt-ground">
        <ul class="info-1">
            <a href="">BENSON</a>
        </ul>
        <ul class="info-2">
            <li><a href="">Ottawa, ON, CANADA</a></li>
            <li><a href="">Design by Donghyeong Cho</a></li>
            
        </ul>
    </nav>

</body>
</html>