<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar">
        <ul class="logo">
            <a href="Benson.html">BENSON</a>
        </ul>
        <ul class="menu">
            <li><a href="Benson.html">HOME</a></li>
            <li><a href="">GALLERY</a></li>
            <li><a href="resume.html">RESUME</a></li>
            <li><a href="one.html">CONTACT</a></li>
            <li><a href="">FAQ</a></li>
            
        </ul>
    </nav>
    <nav class="abouttop">
        <ul class="about">
            <a>WORK EXPERIENCE</a>
        </ul>
        
    </nav>
    
    

    <div class="roka-container">
        <h1 id="text_roka">701 SPECIAL ASSUALT COMMANDO</h1>
        <img id="image_roka" src="image/coman1.png">  
        
    </div>
    <div class="roka-info">
        <p>2015 - 2017</p>
        <p>The Republic of Korea Army Special Assault Commando(ROKA SAC) was established to counter the North Korea's special forces.</p>
        <p>Discharge class: Sergeant</p>
        <p>Position: Squad Commander and Strategic Operational Staff Sergeant</p>
        <p>Location: Paju, South Korea</p>
    </div>

    <div class="roka-container">
        <h1 id="text_roka">Sushi Boat</h1>
        <img id="image_roka" src="image/sushi.png">  
        
    </div>
    <div class="roka-info">
        <p>2012 - 2014</p>
        <p>Guaranteeing customer satisfaction, supervising trainees and newcomers, and maintaining service quality</p>
        <p>Position: Server</p>
        <p>Location: Calgary, AB, Canada</p>
    </div>

    <nav class="bt-ground">
        <ul class="info-1">
            <a href="">BENSON</a>
        </ul>
        <ul class="info-2">
            <li><a href="">Ottawa, ON, CANADA</a></li>
            <li><a href="">Design by Donghyeong Cho</a></li>
            
        </ul>
    </nav>

</body>
</html>